In [1]:
import pandas as pd
import ir_datasets as irds
from ir_measures import read_trec_qrels
from ir_measures import * 
from ir_measures import evaluator
import pyterrier as pt
from scipy.stats import ttest_ind
import os
from os import path as path
from tqdm.auto import tqdm

/opt/miniconda3/envs/annotate/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Data Ingestion

In [2]:
DIR = '../..' # if this breaks replace with a full path to the repo

DATASET = "msmarco-passage/trec-dl-2019/judged"
qrel_directory = f'{DIR}/judgments/main/qrels/'
annotation_directory = f'{DIR}/judgments/main/doccano/'

In [3]:
dataset = irds.load(DATASET)
original_qrels = pd.DataFrame(dataset.qrels_iter())

In [4]:
all_qrels = []
for file in os.listdir(qrel_directory):
    print(file)
    if file.endswith('.txt'):
        qrels = pd.DataFrame(read_trec_qrels(qrel_directory + file))
        annotator = file.replace('.txt', '').replace('-qrels', '')
        qrels['annotator'] = annotator
        all_qrels.append(qrels)

all_qrels = pd.concat(all_qrels)

andrew-parry-qrels.txt
ferdinand-schlatt-qrels.txt
froebe-qrels.txt
guglielmo-faggioli-qrels.txt
harry-scells-qrels.txt
saber-zerhoudi-qrels.txt
sean-macavaney-qrels.txt
eugene-yang-qrels.txt

In [5]:
all_comments = []
for file in os.listdir(annotation_directory):
    if file.endswith('.jsonl'):
        comments = pd.read_json(annotation_directory + file, lines=True)
        annotator = file.replace('.jsonl', '')
        comments['annotator'] = annotator
        # filter in case that comments 'Comments' column is an empty list
        comments = comments[comments['Comments'].apply(lambda x: len(x) > 0)]
        all_comments.append(comments)

all_comments = pd.concat(all_comments)[['text', 'annotator', 'label', 'Comments']]
all_comments['label'] = all_comments['label'].apply(lambda x: x[0])

In [6]:
RUN_DIR = f'{DIR}/runs/trec-dl-2019'
runs = {}
for run in os.listdir(RUN_DIR):
    frame = pt.io.read_results(path.join(RUN_DIR, run)).rename(columns={'qid': 'query_id', 'docno': 'doc_id'})
    frame['pool'] = 'dl-19-official' in run
    runs[run] = frame

# Qrel Pooling

In [7]:
query_groups = all_qrels.groupby('annotator')['query_id'].apply(set).reset_index()

# Step 2: Rename the column to 'queries'
query_groups.rename(columns={'query_id': 'queries'}, inplace=True)
query_groups = query_groups.set_index("annotator").queries.to_dict()

In [8]:
all_qrels

     query_id   doc_id  relevance iteration     annotator
0      855410  8651770          2         0  andrew-parry
1      855410  8651771          2         0  andrew-parry
2      855410  8651772          1         0  andrew-parry
3      855410  8651775          3         0  andrew-parry
4      146187  1230566          1         0  andrew-parry
...       ...      ...        ...       ...           ...
1110  1114646  3915244          0         0   eugene-yang
1111   168216  4713638          0         0   eugene-yang
1112   168216  1696466          0         0   eugene-yang
1113   168216  4245224          0         0   eugene-yang
1114   168216  3174832          0         0   eugene-yang

[9004 rows x 5 columns]

In [9]:
all_qrels['queries'] = all_qrels['annotator'].map(lambda x : query_groups[x])
all_qrels['query_tuple'] = all_qrels['queries'].apply(lambda x : tuple(list(x)))
# Create a mapping of each unique tuple to a unique number
unique_queries = {tuple_queries: idx for idx, tuple_queries in enumerate(all_qrels['query_tuple'].unique())}
print(unique_queries)
# Assign the unique number to a new column
all_qrels['query_group_number'] = all_qrels['query_tuple'].map(lambda x : unique_queries[x])

{('87452', '573724', '1110199', '1133167', '156493', '451602', '130510', '1114646', '146187', '855410', '168216', '489204', '490595'): 0, ('359349', '1121402', '87181', '148538', '264014', '1124210', '1129237', '527433', '168216'): 1, ('183378', '833860', '104861', '915593', '1114819', '962179', '47923', '168216', '19335'): 2, ('207786', '1113437', '1037798', '405717', '1115776', '443396', '182539', '1063750', '1117099', '131843', '1106007', '1112341', '1103812', '168216', '1121709'): 3}

In [10]:
all_qrels.columns

Index(['query_id', 'doc_id', 'relevance', 'iteration', 'annotator', 'queries',
       'query_tuple', 'query_group_number'],
      dtype='object')

In [11]:
all_qrels

,query_id,doc_id,relevance,iteration,annotator,queries,query_tuple,query_group_number
0,855410,8651770,2,0,andrew-parry,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
1,855410,8651771,2,0,andrew-parry,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
2,855410,8651772,1,0,andrew-parry,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
3,855410,8651775,3,0,andrew-parry,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
4,146187,1230566,1,0,andrew-parry,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
...,...,...,...,...,...,...,...,...
1110,1114646,3915244,0,0,eugene-yang,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
1111,168216,4713638,0,0,eugene-yang,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
1112,168216,1696466,0,0,eugene-yang,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
1113,168216,4245224,0,0,eugene-yang,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
1114,168216,3174832,0,0,eugene-yang,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0

In [44]:
annotator_idx = all_qrels.drop_duplicates(["annotator", "query_tuple"])

In [46]:
annotator_idx = annotator_idx.set_index('annotator').query_tuple.to_dict()

In [12]:
import pandas as pd
import itertools

# Assuming your dataframe is named 'df'

# Group by 'query_group_number' and collect unique annotators
grouped_annotators = all_qrels.groupby('query_group_number')['annotator'].unique().to_dict()

# Create a list of all possible combinations of annotators for each group
combinations = [
    [annotators[0], annotators[1]]
    for annotators in grouped_annotators.values()
]

# Create a list of all possible combinations across groups
all_combinations = [
    comb for comb in itertools.product(*combinations)
]

# Iterate through each combination and concatenate the corresponding data
combinations = {}
for comb in all_combinations:
    combinations[tuple(comb)] = pd.concat([all_qrels[all_qrels['annotator'] == annotator] for annotator in comb])[['query_id', 'doc_id', 'relevance']]
    # Process the concatenated_df as needed (e.g., save it, analyze it)

In [31]:
all_qrels

,query_id,doc_id,relevance,iteration,annotator,queries,query_tuple,query_group_number
0,855410,8651770,2,0,andrew-parry,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
1,855410,8651771,2,0,andrew-parry,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
2,855410,8651772,1,0,andrew-parry,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
3,855410,8651775,3,0,andrew-parry,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
4,146187,1230566,1,0,andrew-parry,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
...,...,...,...,...,...,...,...,...
1110,1114646,3915244,0,0,eugene-yang,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
1111,168216,4713638,0,0,eugene-yang,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
1112,168216,1696466,0,0,eugene-yang,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
1113,168216,4245224,0,0,eugene-yang,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0
1114,168216,3174832,0,0,eugene-yang,"{87452, 573724, 1110199, 1133167, 156493, 4516...","(87452, 573724, 1110199, 1133167, 156493, 4516...",0

# Evaluation

In [13]:
metrics = [AP(rel=2), NDCG(cutoff=10), R(rel=2)@100, P(rel=2, cutoff=10), RR(rel=2), RR(rel=2, cutoff=10)]

In [14]:
original_evaluator = evaluator(metrics, qrels=original_qrels)

## Per Annotator Performance

In [ ]:
out = {
    'annotators' : [],
    'run' : [],
    'metric' : [],
    'value' : [],
}
progress = tqdm(total=len(combinations) * len(runs))
for annotators, qrels in combinations.items():
    eval = evaluator(metrics, qrels=qrels)
    for name, run in runs.items():
        progress.update(1)
        measure = eval.calc_aggregate(run)
        measure = {str(k) : v for k, v in measure.items()}
        for k, v in measure.items():
            out['annotators'].append(annotators)
            out['run'].append(name)
            out['metric'].append(k)
            out['value'].append(v)

100%|██████████| 976/976 [26:52<00:00,  1.65s/it]

  1%|          | 7/976 [00:00<00:15, 62.75it/s]
  1%|▏         | 14/976 [00:00<00:57, 16.70it/s]
  2%|▏         | 18/976 [00:02<03:20,  4.78it/s]

In [16]:
out = pd.DataFrame(out)

In [17]:
out.columns

Index(['annotators', 'run', 'metric', 'value'], dtype='object')

## Original Order

In [18]:
from collections import defaultdict
output = {k : defaultdict(list) for k in all_qrels.query_tuple.unique()}
for name, run in runs.items():
    for q_set in output.keys():
        measure = original_evaluator.calc_aggregate(run[run.query_id.isin(list(q_set))])
        measure = {str(k): v for k, v in measure.items()}
        for k, v in measure.items():
            output[q_set][k].append((name, v))

In [19]:
output = {q_set : {k : [x[0] for x in sorted(v, key=lambda x : x[1], reverse=True)] for k, v in metric_set.items()} for q_set, metric_set in output.items()}

## Comparison

In [24]:
grouped_data = out.groupby("annotators")
metric_variances = {}
for annotators, group in grouped_data:
    metric_variances[annotators] = {}
    for metric, subgroup in group.groupby("metric"):
        metric_variances[annotators][metric] = subgroup["value"].var()

In [25]:
system_grouped_data = out.groupby("run")
system_metric_variances = {}
for run, group in system_grouped_data:
    system_metric_variances[run] = {}
    for metric, subgroup in group.groupby("metric"):
        system_metric_variances[run][metric] = subgroup["value"].var()

In [39]:
annotator_to_queries

{('eugene-yang', 'eugene-yang'): ('207786',
  '1113437',
  '1037798',
  '405717',
  '1115776',
  '443396',
  '182539',
  '1063750',
  '1117099',
  '131843',
  '1106007',
  '1112341',
  '1103812',
  '168216',
  '1121709')}

In [37]:
out

,annotators,run,metric,value
0,"(andrew-parry, ferdinand-schlatt, guglielmo-fa...",colbert_monoelectra-base_msmarco-passage-trec-...,RR(rel=2)@10,0.913566
1,"(andrew-parry, ferdinand-schlatt, guglielmo-fa...",colbert_monoelectra-base_msmarco-passage-trec-...,nDCG@10,0.767889
2,"(andrew-parry, ferdinand-schlatt, guglielmo-fa...",colbert_monoelectra-base_msmarco-passage-trec-...,P(rel=2)@10,0.683721
3,"(andrew-parry, ferdinand-schlatt, guglielmo-fa...",colbert_monoelectra-base_msmarco-passage-trec-...,RR(rel=2),0.912791
4,"(andrew-parry, ferdinand-schlatt, guglielmo-fa...",colbert_monoelectra-base_msmarco-passage-trec-...,AP(rel=2),0.480322
...,...,...,...,...
5851,"(eugene-yang, froebe, harry-scells, sean-macav...",tirex_set-encoder-large_msmarco-passage-trec-d...,nDCG@10,0.727026
5852,"(eugene-yang, froebe, harry-scells, sean-macav...",tirex_set-encoder-large_msmarco-passage-trec-d...,P(rel=2)@10,0.651163
5853,"(eugene-yang, froebe, harry-scells, sean-macav...",tirex_set-encoder-large_msmarco-passage-trec-d...,RR(rel=2),0.842636
5854,"(eugene-yang, froebe, harry-scells, sean-macav...",tirex_set-encoder-large_msmarco-passage-trec-d...,AP(rel=2),0.377025
5855,"(eugene-yang, froebe, harry-scells, sean-macav...",tirex_set-encoder-large_msmarco-passage-trec-d...,R(rel=2)@100,0.488365

In [58]:
list(out[out['metric']=='P(rel=2)@10'].groupby('run').value)

[('colbert_monoelectra-base_msmarco-passage-trec-dl-2019-judged.run',
  2       0.683721
  368     0.683721
  734     0.683721
  1100    0.683721
  1466    0.683721
  1832    0.683721
  2198    0.683721
  2564    0.683721
  2930    0.683721
  3296    0.683721
  3662    0.683721
  4028    0.683721
  4394    0.683721
  4760    0.683721
  5126    0.683721
  5492    0.683721
  Name: value, dtype: float64),
 ('colbert_monoelectra-large_msmarco-passage-trec-dl-2019-judged.run',
  8       0.688372
  374     0.688372
  740     0.688372
  1106    0.688372
  1472    0.688372
  1838    0.688372
  2204    0.688372
  2570    0.688372
  2936    0.688372
  3302    0.688372
  3668    0.688372
  4034    0.688372
  4400    0.688372
  4766    0.688372
  5132    0.688372
  5498    0.688372
  Name: value, dtype: float64),
 ('colbert_rankgpt4-turbo_msmarco-passage-trec-dl-2019-judged.run',
  14      0.686047
  380     0.686047
  746     0.686047
  1112    0.686047
  1478    0.686047
  1844    0.686047
  2210    0.686047
  2576    0.686047
  2942    0.686047
  3308    0.686047
  3674    0.686047
  4040    0.686047
  4406    0.686047
  4772    0.686047
  5138    0.686047
  5504    0.686047
  Name: value, dtype: float64),
 ('colbert_rankgpt4_msmarco-passage-trec-dl-2019-judged.run',
  20      0.686047
  386     0.686047
  752     0.686047
  1118    0.686047
  1484    0.686047
  1850    0.686047
  2216    0.686047
  2582    0.686047
  2948    0.686047
  3314    0.686047
  3680    0.686047
  4046    0.686047
  4412    0.686047
  4778    0.686047
  5144    0.686047
  5510    0.686047
  Name: value, dtype: float64),
 ('colbert_rankgpt4o-full_msmarco-passage-trec-dl-2019-judged.run',
  26      0.711628
  392     0.711628
  758     0.711628
  1124    0.711628
  1490    0.711628
  1856    0.711628
  2222    0.711628
  2588    0.711628
  2954    0.711628
  3320    0.711628
  3686    0.711628
  4052    0.711628
  4418    0.711628
  4784    0.711628
  5150    0.711628
  5516    0.711628
  Name: value, dtype: float64),
 ('colbert_rankgpt4o_msmarco-passage-trec-dl-2019-judged.run',
  32      0.7
  398     0.7
  764     0.7
  1130    0.7
  1496    0.7
  1862    0.7
  2228    0.7
  2594    0.7
  2960    0.7
  3326    0.7
  3692    0.7
  4058    0.7
  4424    0.7
  4790    0.7
  5156    0.7
  5522    0.7
  Name: value, dtype: float64),
 ('colbert_rankzephyr_msmarco-passage-trec-dl-2019-judged.run',
  38      0.674419
  404     0.674419
  770     0.674419
  1136    0.674419
  1502    0.674419
  1868    0.674419
  2234    0.674419
  2600    0.674419
  2966    0.674419
  3332    0.674419
  3698    0.674419
  4064    0.674419
  4430    0.674419
  4796    0.674419
  5162    0.674419
  5528    0.674419
  Name: value, dtype: float64),
 ('colbert_set-encoder-base_msmarco-passage-trec-dl-2019-judged.run',
  44      0.706977
  410     0.706977
  776     0.706977
  1142    0.706977
  1508    0.706977
  1874    0.706977
  2240    0.706977
  2606    0.706977
  2972    0.706977
  3338    0.706977
  3704    0.706977
  4070    0.706977
  4436    0.706977
  4802    0.706977
  5168    0.706977
  5534    0.706977
  Name: value, dtype: float64),
 ('colbert_set-encoder-large_msmarco-passage-trec-dl-2019-judged.run',
  50      0.702326
  416     0.702326
  782     0.702326
  1148    0.702326
  1514    0.702326
  1880    0.702326
  2246    0.702326
  2612    0.702326
  2978    0.702326
  3344    0.702326
  3710    0.702326
  4076    0.702326
  4442    0.702326
  4808    0.702326
  5174    0.702326
  5540    0.702326
  Name: value, dtype: float64),
 ('dl-19-official-input.ICT-BERT2.gz',
  56      0.55814
  422     0.55814
  788     0.55814
  1154    0.55814
  1520    0.55814
  1886    0.55814
  2252    0.55814
  2618    0.55814
  2984    0.55814
  3350    0.55814
  3716    0.55814
  4082    0.55814
  4448    0.55814
  4814    0.55814
  5180    0.55814
  5546    0.55814
  Name: value, dtype: float64),
 ('dl-19-official-input.ICT-CKNRM_B.gz',
  62      0.569767
  428     0.569767
  794     0.569767
  1160    0.569767
  1526    0.569767
  1892    0.569767
  2258    0.569767
  2624    0.569767
  2990    0.569767
  3356    0.569767
  3722    0.569767
  4088    0.569767
  4454    0.569767
  4820    0.569767
  5186    0.569767
  5552    0.569767
  Name: value, dtype: float64),
 ('dl-19-official-input.ICT-CKNRM_B50.gz',
  68      0.530233
  434     0.530233
  800     0.530233
  1166    0.530233
  1532    0.530233
  1898    0.530233
  2264    0.530233
  2630    0.530233
  2996    0.530233
  3362    0.530233
  3728    0.530233
  4094    0.530233
  4460    0.530233
  4826    0.530233
  5192    0.530233
  5558    0.530233
  Name: value, dtype: float64),
 ('dl-19-official-input.TUA1-1.gz',
  74      0.637209
  440     0.637209
  806     0.637209
  1172    0.637209
  1538    0.637209
  1904    0.637209
  2270    0.637209
  2636    0.637209
  3002    0.637209
  3368    0.637209
  3734    0.637209
  4100    0.637209
  4466    0.637209
  4832    0.637209
  5198    0.637209
  5564    0.637209
  Name: value, dtype: float64),
 ('dl-19-official-input.TUW19-p1-f.gz',
  80      0.574419
  446     0.574419
  812     0.574419
  1178    0.574419
  1544    0.574419
  1910    0.574419
  2276    0.574419
  2642    0.574419
  3008    0.574419
  3374    0.574419
  3740    0.574419
  4106    0.574419
  4472    0.574419
  4838    0.574419
  5204    0.574419
  5570    0.574419
  Name: value, dtype: float64),
 ('dl-19-official-input.TUW19-p1-re.gz',
  86      0.569767
  452     0.569767
  818     0.569767
  1184    0.569767
  1550    0.569767
  1916    0.569767
  2282    0.569767
  2648    0.569767
  3014    0.569767
  3380    0.569767
  3746    0.569767
  4112    0.569767
  4478    0.569767
  4844    0.569767
  5210    0.569767
  5576    0.569767
  Name: value, dtype: float64),
 ('dl-19-official-input.TUW19-p2-f.gz',
  92      0.576744
  458     0.576744
  824     0.576744
  1190    0.576744
  1556    0.576744
  1922    0.576744
  2288    0.576744
  2654    0.576744
  3020    0.576744
  3386    0.576744
  3752    0.576744
  4118    0.576744
  4484    0.576744
  4850    0.576744
  5216    0.576744
  5582    0.576744
  Name: value, dtype: float64),
 ('dl-19-official-input.TUW19-p2-re.gz',
  98      0.565116
  464     0.565116
  830     0.565116
  1196    0.565116
  1562    0.565116
  1928    0.565116
  2294    0.565116
  2660    0.565116
  3026    0.565116
  3392    0.565116
  3758    0.565116
  4124    0.565116
  4490    0.565116
  4856    0.565116
  5222    0.565116
  5588    0.565116
  Name: value, dtype: float64),
 ('dl-19-official-input.TUW19-p3-f.gz',
  104     0.597674
  470     0.597674
  836     0.597674
  1202    0.597674
  1568    0.597674
  1934    0.597674
  2300    0.597674
  2666    0.597674
  3032    0.597674
  3398    0.597674
  3764    0.597674
  4130    0.597674
  4496    0.597674
  4862    0.597674
  5228    0.597674
  5594    0.597674
  Name: value, dtype: float64),
 ('dl-19-official-input.TUW19-p3-re.gz',
  110     0.576744
  476     0.576744
  842     0.576744
  1208    0.576744
  1574    0.576744
  1940    0.576744
  2306    0.576744
  2672    0.576744
  3038    0.576744
  3404    0.576744
  3770    0.576744
  4136    0.576744
  4502    0.576744
  4868    0.576744
  5234    0.576744
  5600    0.576744
  Name: value, dtype: float64),
 ('dl-19-official-input.UNH_bm25.gz',
  116     0.346512
  482     0.346512
  848     0.346512
  1214    0.346512
  1580    0.346512
  1946    0.346512
  2312    0.346512
  2678    0.346512
  3044    0.346512
  3410    0.346512
  3776    0.346512
  4142    0.346512
  4508    0.346512
  4874    0.346512
  5240    0.346512
  5606    0.346512
  Name: value, dtype: float64),
 ('dl-19-official-input.UNH_exDL_bm25.gz',
  122     0.060465
  488     0.060465
  854     0.060465
  1220    0.060465
  1586    0.060465
  1952    0.060465
  2318    0.060465
  2684    0.060465
  3050    0.060465
  3416    0.060465
  3782    0.060465
  4148    0.060465
  4514    0.060465
  4880    0.060465
  5246    0.060465
  5612    0.060465
  Name: value, dtype: float64),
 ('dl-19-official-input.bm25base_ax_p.gz',
  128     0.467442
  494     0.467442
  860     0.467442
  1226    0.467442
  1592    0.467442
  1958    0.467442
  2324    0.467442
  2690    0.467442
  3056    0.467442
  3422    0.467442
  3788    0.467442
  4154    0.467442
  4520    0.467442
  4886    0.467442
  5252    0.467442
  5618    0.467442
  Name: value, dtype: float64),
 ('dl-19-official-input.bm25base_p.gz',
  134     0.411628
  500     0.411628
  866     0.411628
  1232    0.411628
  1598    0.411628
  1964    0.411628
  2330    0.411628
  2696    0.411628
  3062    0.411628
  3428    0.411628
  3794    0.411628
  4160    0.411628
  4526    0.411628
  4892    0.411628
  5258    0.411628
  5624    0.411628
  Name: value, dtype: float64),
 ('dl-19-official-input.bm25base_prf_p.gz',
  140     0.462791
  506     0.462791
  872     0.462791
  1238    0.462791
  1604    0.462791
  1970    0.462791
  2336    0.462791
  2702    0.462791
  3068    0.462791
  3434    0.462791
  3800    0.462791
  4166    0.462791
  4532    0.462791
  4898    0.462791
  5264    0.462791
  5630    0.462791
  Name: value, dtype: float64),
 ('dl-19-official-input.bm25base_rm3_p.gz',
  146     0.437209
  512     0.437209
  878     0.437209
  1244    0.437209
  1610    0.437209
  1976    0.437209
  2342    0.437209
  2708    0.437209
  3074    0.437209
  3440    0.437209
  3806    0.437209
  4172    0.437209
  4538    0.437209
  4904    0.437209
  5270    0.437209
  5636    0.437209
  Name: value, dtype: float64),
 ('dl-19-official-input.bm25tuned_ax_p.gz',
  152     0.446512
  518     0.446512
  884     0.446512
  1250    0.446512
  1616    0.446512
  1982    0.446512
  2348    0.446512
  2714    0.446512
  3080    0.446512
  3446    0.446512
  3812    0.446512
  4178    0.446512
  4544    0.446512
  4910    0.446512
  5276    0.446512
  5642    0.446512
  Name: value, dtype: float64),
 ('dl-19-official-input.bm25tuned_p.gz',
  158     0.404651
  524     0.404651
  890     0.404651
  1256    0.404651
  1622    0.404651
  1988    0.404651
  2354    0.404651
  2720    0.404651
  3086    0.404651
  3452    0.404651
  3818    0.404651
  4184    0.404651
  4550    0.404651
  4916    0.404651
  5282    0.404651
  5648    0.404651
  Name: value, dtype: float64),
 ('dl-19-official-input.bm25tuned_prf_p.gz',
  164     0.472093
  530     0.472093
  896     0.472093
  1262    0.472093
  1628    0.472093
  1994    0.472093
  2360    0.472093
  2726    0.472093
  3092    0.472093
  3458    0.472093
  3824    0.472093
  4190    0.472093
  4556    0.472093
  4922    0.472093
  5288    0.472093
  5654    0.472093
  Name: value, dtype: float64),
 ('dl-19-official-input.bm25tuned_rm3_p.gz',
  170     0.434884
  536     0.434884
  902     0.434884
  1268    0.434884
  1634    0.434884
  2000    0.434884
  2366    0.434884
  2732    0.434884
  3098    0.434884
  3464    0.434884
  3830    0.434884
  4196    0.434884
  4562    0.434884
  4928    0.434884
  5294    0.434884
  5660    0.434884
  Name: value, dtype: float64),
 ('dl-19-official-input.idst_bert_p1.gz',
  176     0.672093
  542     0.672093
  908     0.672093
  1274    0.672093
  1640    0.672093
  2006    0.672093
  2372    0.672093
  2738    0.672093
  3104    0.672093
  3470    0.672093
  3836    0.672093
  4202    0.672093
  4568    0.672093
  4934    0.672093
  5300    0.672093
  5666    0.672093
  Name: value, dtype: float64),
 ('dl-19-official-input.idst_bert_p2.gz',
  182     0.674419
  548     0.674419
  914     0.674419
  1280    0.674419
  1646    0.674419
  2012    0.674419
  2378    0.674419
  2744    0.674419
  3110    0.674419
  3476    0.674419
  3842    0.674419
  4208    0.674419
  4574    0.674419
  4940    0.674419
  5306    0.674419
  5672    0.674419
  Name: value, dtype: float64),
 ('dl-19-official-input.idst_bert_p3.gz',
  188     0.65814
  554     0.65814
  920     0.65814
  1286    0.65814
  1652    0.65814
  2018    0.65814
  2384    0.65814
  2750    0.65814
  3116    0.65814
  3482    0.65814
  3848    0.65814
  4214    0.65814
  4580    0.65814
  4946    0.65814
  5312    0.65814
  5678    0.65814
  Name: value, dtype: float64),
 ('dl-19-official-input.idst_bert_pr1.gz',
  194     0.634884
  560     0.634884
  926     0.634884
  1292    0.634884
  1658    0.634884
  2024    0.634884
  2390    0.634884
  2756    0.634884
  3122    0.634884
  3488    0.634884
  3854    0.634884
  4220    0.634884
  4586    0.634884
  4952    0.634884
  5318    0.634884
  5684    0.634884
  Name: value, dtype: float64),
 ('dl-19-official-input.idst_bert_pr2.gz',
  200     0.637209
  566     0.637209
  932     0.637209
  1298    0.637209
  1664    0.637209
  2030    0.637209
  2396    0.637209
  2762    0.637209
  3128    0.637209
  3494    0.637209
  3860    0.637209
  4226    0.637209
  4592    0.637209
  4958    0.637209
  5324    0.637209
  5690    0.637209
  Name: value, dtype: float64),
 ('dl-19-official-input.ms_duet_passage.gz',
  206     0.504651
  572     0.504651
  938     0.504651
  1304    0.504651
  1670    0.504651
  2036    0.504651
  2402    0.504651
  2768    0.504651
  3134    0.504651
  3500    0.504651
  3866    0.504651
  4232    0.504651
  4598    0.504651
  4964    0.504651
  5330    0.504651
  5696    0.504651
  Name: value, dtype: float64),
 ('dl-19-official-input.p_bert.gz',
  212     0.648837
  578     0.648837
  944     0.648837
  1310    0.648837
  1676    0.648837
  2042    0.648837
  2408    0.648837
  2774    0.648837
  3140    0.648837
  3506    0.648837
  3872    0.648837
  4238    0.648837
  4604    0.648837
  4970    0.648837
  5336    0.648837
  5702    0.648837
  Name: value, dtype: float64),
 ('dl-19-official-input.p_exp_bert.gz',
  218     0.644186
  584     0.644186
  950     0.644186
  1316    0.644186
  1682    0.644186
  2048    0.644186
  2414    0.644186
  2780    0.644186
  3146    0.644186
  3512    0.644186
  3878    0.644186
  4244    0.644186
  4610    0.644186
  4976    0.644186
  5342    0.644186
  5708    0.644186
  Name: value, dtype: float64),
 ('dl-19-official-input.p_exp_rm3_bert.gz',
  224     0.651163
  590     0.651163
  956     0.651163
  1322    0.651163
  1688    0.651163
  2054    0.651163
  2420    0.651163
  2786    0.651163
  3152    0.651163
  3518    0.651163
  3884    0.651163
  4250    0.651163
  4616    0.651163
  4982    0.651163
  5348    0.651163
  5714    0.651163
  Name: value, dtype: float64),
 ('dl-19-official-input.runid2.gz',
  230     0.416279
  596     0.416279
  962     0.416279
  1328    0.416279
  1694    0.416279
  2060    0.416279
  2426    0.416279
  2792    0.416279
  3158    0.416279
  3524    0.416279
  3890    0.416279
  4256    0.416279
  4622    0.416279
  4988    0.416279
  5354    0.416279
  5720    0.416279
  Name: value, dtype: float64),
 ('dl-19-official-input.runid3.gz',
  236     0.6
  602     0.6
  968     0.6
  1334    0.6
  1700    0.6
  2066    0.6
  2432    0.6
  2798    0.6
  3164    0.6
  3530    0.6
  3896    0.6
  4262    0.6
  4628    0.6
  4994    0.6
  5360    0.6
  5726    0.6
  Name: value, dtype: float64),
 ('dl-19-official-input.runid4.gz',
  242     0.609302
  608     0.609302
  974     0.609302
  1340    0.609302
  1706    0.609302
  2072    0.609302
  2438    0.609302
  2804    0.609302
  3170    0.609302
  3536    0.609302
  3902    0.609302
  4268    0.609302
  4634    0.609302
  5000    0.609302
  5366    0.609302
  5732    0.609302
  Name: value, dtype: float64),
 ('dl-19-official-input.runid5.gz',
  248     0.413953
  614     0.413953
  980     0.413953
  1346    0.413953
  1712    0.413953
  2078    0.413953
  2444    0.413953
  2810    0.413953
  3176    0.413953
  3542    0.413953
  3908    0.413953
  4274    0.413953
  4640    0.413953
  5006    0.413953
  5372    0.413953
  5738    0.413953
  Name: value, dtype: float64),
 ('dl-19-official-input.srchvrs_ps_run1.gz',
  254     0.418605
  620     0.418605
  986     0.418605
  1352    0.418605
  1718    0.418605
  2084    0.418605
  2450    0.418605
  2816    0.418605
  3182    0.418605
  3548    0.418605
  3914    0.418605
  4280    0.418605
  4646    0.418605
  5012    0.418605
  5378    0.418605
  5744    0.418605
  Name: value, dtype: float64),
 ('dl-19-official-input.srchvrs_ps_run2.gz',
  260     0.567442
  626     0.567442
  992     0.567442
  1358    0.567442
  1724    0.567442
  2090    0.567442
  2456    0.567442
  2822    0.567442
  3188    0.567442
  3554    0.567442
  3920    0.567442
  4286    0.567442
  4652    0.567442
  5018    0.567442
  5384    0.567442
  5750    0.567442
  Name: value, dtype: float64),
 ('dl-19-official-input.srchvrs_ps_run3.gz',
  266     0.462791
  632     0.462791
  998     0.462791
  1364    0.462791
  1730    0.462791
  2096    0.462791
  2462    0.462791
  2828    0.462791
  3194    0.462791
  3560    0.462791
  3926    0.462791
  4292    0.462791
  4658    0.462791
  5024    0.462791
  5390    0.462791
  5756    0.462791
  Name: value, dtype: float64),
 ('dl-19-official-input.test1.gz',
  272     0.637209
  638     0.637209
  1004    0.637209
  1370    0.637209
  1736    0.637209
  2102    0.637209
  2468    0.637209
  2834    0.637209
  3200    0.637209
  3566    0.637209
  3932    0.637209
  4298    0.637209
  4664    0.637209
  5030    0.637209
  5396    0.637209
  5762    0.637209
  Name: value, dtype: float64),
 ('maik-froebe-colbert-run.txt',
  278     0.616279
  644     0.616279
  1010    0.616279
  1376    0.616279
  1742    0.616279
  2108    0.616279
  2474    0.616279
  2840    0.616279
  3206    0.616279
  3572    0.616279
  3938    0.616279
  4304    0.616279
  4670    0.616279
  5036    0.616279
  5402    0.616279
  5768    0.616279
  Name: value, dtype: float64),
 ('maik-froebe-mono-t5-3b-run.txt',
  284     0.648837
  650     0.648837
  1016    0.648837
  1382    0.648837
  1748    0.648837
  2114    0.648837
  2480    0.648837
  2846    0.648837
  3212    0.648837
  3578    0.648837
  3944    0.648837
  4310    0.648837
  4676    0.648837
  5042    0.648837
  5408    0.648837
  5774    0.648837
  Name: value, dtype: float64),
 ('maik-froebe-mono-t5-base-run.txt',
  290     0.618605
  656     0.618605
  1022    0.618605
  1388    0.618605
  1754    0.618605
  2120    0.618605
  2486    0.618605
  2852    0.618605
  3218    0.618605
  3584    0.618605
  3950    0.618605
  4316    0.618605
  4682    0.618605
  5048    0.618605
  5414    0.618605
  5780    0.618605
  Name: value, dtype: float64),
 ('maik-froebe-rank-zephyr-run.txt',
  296     0.639535
  662     0.639535
  1028    0.639535
  1394    0.639535
  1760    0.639535
  2126    0.639535
  2492    0.639535
  2858    0.639535
  3224    0.639535
  3590    0.639535
  3956    0.639535
  4322    0.639535
  4688    0.639535
  5054    0.639535
  5420    0.639535
  5786    0.639535
  Name: value, dtype: float64),
 ('maik-froebe-sparse-cross-encoder-run.txt',
  302     0.630233
  668     0.630233
  1034    0.630233
  1400    0.630233
  1766    0.630233
  2132    0.630233
  2498    0.630233
  2864    0.630233
  3230    0.630233
  3596    0.630233
  3962    0.630233
  4328    0.630233
  4694    0.630233
  5060    0.630233
  5426    0.630233
  5792    0.630233
  Name: value, dtype: float64),
 ('maik-froebe-splade-run.txt',
  308     0.623256
  674     0.623256
  1040    0.623256
  1406    0.623256
  1772    0.623256
  2138    0.623256
  2504    0.623256
  2870    0.623256
  3236    0.623256
  3602    0.623256
  3968    0.623256
  4334    0.623256
  4700    0.623256
  5066    0.623256
  5432    0.623256
  5798    0.623256
  Name: value, dtype: float64),
 ('tirex_monoelectra-base_msmarco-passage-trec-dl-2019-judged.run',
  314     0.637209
  680     0.637209
  1046    0.637209
  1412    0.637209
  1778    0.637209
  2144    0.637209
  2510    0.637209
  2876    0.637209
  3242    0.637209
  3608    0.637209
  3974    0.637209
  4340    0.637209
  4706    0.637209
  5072    0.637209
  5438    0.637209

In [48]:
rbo_values = {}
system_order_changes = []
out['queries'] = out['annotators'].map(lambda x : annotator_idx[x[0]])
for annotator, group in out.groupby("annotators"):
    query_group = group.queries.iloc[0]
    rbo_values[annotators] = {}
    for metric, subgroup in group.groupby("metric"):
        system_order_1 = subgroup.sort_values(by='value', ascending=False).run.to_list()
        system_order_2 = output[query_group][metric]  # Use the original system order
        val = rbo.RankingSimilarity(system_order_1, system_order_2).rbo()
        rbo_values[annotators][metric] = val

In [49]:
rbo_values

{('andrew-parry',
  'ferdinand-schlatt',
  'guglielmo-faggioli',
  'saber-zerhoudi'): {'AP(rel=2)': 0.838976691538069,
  'P(rel=2)@10': 0.8611696600159712,
  'R(rel=2)@100': 0.942012271557254,
  'RR(rel=2)': 0.655011462667698,
  'RR(rel=2)@10': 0.6553870431562835,
  'nDCG@10': 0.8522789987193002}}